<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>JSTQB問題集</title>
    </head>
    <body>
        <h1>JSTQB問題集</h1>
        <ul>
            <li th:each="chapter : ${chapters}">
                <a th:href="@{/chapter/{id}(id=${chapter.id})}" th:text="${chapter.name}"></a>
            </li>
            <li>
                <a th:href="@{/mock}" >模試</a>
            </li>
        </ul>
    </body>
    </html>
    
