<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>JSTQB問題集</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- CSSのリンク -->
</head>
<body>
    <div class="title-container">
        <h1 class="title">JSTQB問題集</h1>
    </div>
    <ul class="menu-list">
        <li><a class="menu-link" th:href="@{/chapter/1}">一章　テストの基礎</a></li>
        <li><a class="menu-link" th:href="@{/chapter/2}">二章　ソフトウェア開発ライフサイクル全体を通してのテスト</a></li>
        <li><a class="menu-link" th:href="@{/chapter/3}">三章　静的テスト</a></li>
        <li><a class="menu-link" th:href="@{/chapter/4}">四章　テスト分析と設計</a></li>
        <li><a class="menu-link" th:href="@{/chapter/5}">五章　テスト活動のマネジメント</a></li>
        <li><a class="menu-link" th:href="@{/chapter/6}">六章　テストツール</a></li>
        <li><a class="menu-link" th:href="@{/quiz/random}">模擬試験</a></li>
    </ul>
</body>
</html>