<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>一問一答アプリ - メニュー</title>
</head>
<body>
    <h1>一問一答アプリ</h1>
    <ul>
        <li><a th:href="@{/chapter/1}">1章</a></li>
        <li><a th:href="@{/chapter/2}">2章</a></li>
        <li><a th:href="@{/chapter/3}">3章</a></li>
        <li><a th:href="@{/chapter/4}">4章</a></li>
        <li><a th:href="@{/chapter/5}">5章</a></li>
        <li><a th:href="@{/chapter/6}">6章</a></li>
        <li><a th:href="@{/quiz/random}">模擬試験</a></li>
    </ul>
</body>
</html>
